<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nexus" value="http://nexus:8081/repository/nuget-group/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <nexus>
            <add key="Username" value="admin" />
            <add key="ClearTextPassword" value="dfc7f9c2-264d-3ff9-8ec1-16e6a70e1aea" />
        </nexus>
    </packageSourceCredentials>
</configuration>
